<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{page.title}}{% else %}{{config.title}}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	{% if page.date -%}
	<meta property="article:published_time" content="{{ page.date }}" />
	{%- endif %}
</head>
<body>
	<header>
		<span>
			<span>/ </span>
			{% if section %}
			{% set secs = section.ancestors %}
					{% for s in secs %}
						{% set sec = get_section(path=s) %}
			<a href="{{sec.permalink}}">{{sec.title}}</a>{% if loop.last == false %} / {% endif %}
					{% endfor %}
			{% elif page %}
				{% set secs = page.ancestors %}
					{% for s in secs %}
						{% set sec = get_section(path=s) %}
			<a href="{{sec.permalink}}">{{sec.title}}</a>{% if loop.last == false %} / {% endif %}
					{% endfor %}
			{% endif %}
		</span>
	</header>
	<main>
		{% block content %}{% endblock content %}
	</main>
</body>
</html>