<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{page.title}}{% else %}{{config.title}}{% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	{% if page.date -%}
	<meta property="article:published_time" content="{{ page.date }}" />
	{%- endif %}
</head>
<body>
	<header>
		<a href="/">Home</a>
    <span>
      {% if page %}//
        {% set secs = page.ancestors %}
        {% set l = secs | length %}
        {% if l>1 %}
          {% set secs = secs | slice(start=1) %}
          {% for s in secs %}
            {% set sec = get_section(path=s) %}
      <a href="{{sec.permalink}}">{{sec.title}}</a>{% if loop.last == false %} // {% endif %}
          {% endfor %}
        {% endif %}
      {% elif section %}//
        {% set secs = section.ancestors %}
        {% set l = secs | length %}
        {% if l>1 %}
          {% set secs = secs | slice(start=1) %}
          {% for s in secs %}
            {% set sec = get_section(path=s) %}
      <a href="{{sec.permalink}}">{{sec.title}}</a>{% if loop.last == false %} // {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </span>
	</header>
	<main>
		{% block content %}{% endblock content %}
	</main>
</body>
</html>
